<footer class="airbnb-footer">
    <div class="footer-container">
      <div class="footer-column">
        <h4>Support</h4>
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Cancellation Options</a></li>
          <li><a href="#">Neighborhood Support</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Community</h4>
        <ul>
          <li><a href="#">WanderLust.org</a></li>
          <li><a href="#">Combating Discrimination</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Hosting</h4>
        <ul>
          <li><a href="#">WanderLust your home</a></li>
          <li><a href="#">Hosting Resources</a></li>
          <li><a href="#">Community Center</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>WanderLust</h4>
        <ul>
          <li><a href="#">Newsroom</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">WanderLust Luxe</a></li>
        </ul>
      </div>
    </div>
  </footer>
  